.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;

}

/* shared style */

.dark-1 {
  color: #3A3A3A;
}

.center {
  text-align: center;
}

.white {
  color: white;
}

/* style header  */

.logo {
  font-size: 24px;
  font-weight: 700;
}

/* Nav style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
  padding: 50px 0;

}

nav ul {
  display: flex;

}

nav ul li {
  list-style: none;
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

/* end header *************** */

/*  style maim secton */

main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-bottom: 50px;
}

/* style hero section */
.hero {
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.hero-content {
  min-width: 500px;

}

.hero-title {
  font-size: 42px;
  font-weight: 700px;
}

.hero-descriptin {
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0;
}

.primari-btn {
  padding: 10px 24px;
  background-color: #E02C6D;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 16px;
}

.cottection-btn {
  margin: 20px 0;
  background-color: white;
  padding: 10px 24px;

  border: none;
  color: #E02C6D;
  font-size: 16px;
}

.end {
  text-align: end;
}

.secondary-btn {
  padding: 10px 24px;
  background-color: #E02C6D;
  border: none;
  color: white;
  font-size: 16px;
}

.hero-img {
  background-image: url('../images/Circle\ design.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.logo-img {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #aaaaaa48;
  padding: 20px;
}

/* style  collection-section*/
.collection-heading {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 50px;
}

.product-name {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;

}

.product-price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;

}

.price-description {
  margin: 5px 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;

}

.star-rating {
  display: flex;
  align-items: center;

}

.rating {
  margin-left: 5px;
}

.collection-card {
  /* box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.15); 
  
   border-radius: 10px; */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 1);


}

.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

}

/* style footer */


.footer {
  background-color: #0A0826;
  padding: 50px 500px;
}

.footer-title {
  font-size: 24px;
  font-weight: 700;
}

.footer-p {
  margin-top: 10px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}